
@import url(@quamolit/touch-control/style/touch-control.css);

body {
  margin: 0;
  overscroll-behavior-y: none;
  font-family: Josefin Sans, Hind;

  font-size: 0;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

input {
  display: none;
}

input.visible {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent;
  color: white;
}